@model IEnumerable<SellersProject.Models.SellerModel>

@{
    ViewData["Title"] = "Index";
}


<div>
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Sellers</h1>
        <div>
            <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
            <a asp-action="Export" type="button" class="btn btn-primary">Export</a>
        </div>
    </div>
</div>
<div class="table_overflow-x">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-outline-warning btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-outline-info btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
